section{
  margin: 3%;
}
div{
  width: 30%;
  height: 200px;
}
.amarillo{
  background-color: yellow;
}
.azul{
  background-color: blue;
}
.rojo{
  background-color: red;
}
/*css de la segunda parte*/
.second-part div{
  float: left;
}
/*css de la tercera parte (float right)*/
.third-part div{
  float: right;
}
